<%- include('header') %>

    <h1>Atvinnuumsókn</h1>
    <form method="post" action="/apply">
        <div>
            <div class="form__input">
                <label for="name">Nafn</label>
                <input id="name" name="name" value="<%= data.name %>">
            </div>
            <div class="form__input">
                <label for="netfang">Netfang</label>
                <input type="text" id="netfang" name="netfang" value="<%= data.netfang %>">
            </div>
            <div class="form__input">
                <label for="simi">Sími</label>
                <input id="simi" name="simi" value="<%= data.simi %>">
            </div>
            <div class="form__input">
                <label for="texti">Kynning á þér:</label>
                <textarea id="texti" name="texti" value="<%= data.texti %>"></textarea>
            </div>
            <!-- Todo finna hvernig á að tengja labels tög við virkni-->
        </div>

        <div>
            <h2>Starf sem sótt er um:</h3>
            <div class="form__radio">
                <input class="radio" type="radio" id="starf1" name="starf" value="forritari">
                <label for="starf1">Forritari</label>
            </div>
            <div class="form__radio">
                <input class="radio" type="radio" id="starf2" name="starf" value="hönnuður">
                <label for="starf2">Hönnuður</label>
            </div>
            <div class="form__radio">
                <input class="radio" type="radio" id="starf3" name="starf" value="verkefnastjóri">
                <label for="starf3">Verkefnastjóri</label>
            </div>
        </div>

        <div class="form__button">
            <button type="submit">Senda umsókn</button>
        </div>
        
    </form>

    <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>

<%- include('footer') %>