<%- include header %>
    <h1>Atvinnuumsóknir</h1>

    <% listi.forEach((umsoknir) => { %>
        <div class="umsokn">
            <div class="texti__yfirlit">
                <h2><%= umsoknir.name %></h2>
                <a href="mailto:<%= umsoknir.netfang %>"><%= umsoknir.netfang %></a>
                <p><%= umsoknir.simi %></p>
                <p class="texti__gap">Umsókn send: <%= umsoknir.created %></p>
                <p class="texti__gap"><%= umsoknir.texti %></p>
            </div>

            <div class="takkar__yfirlit">
                <div>
                        <% if(!umsoknir.processed){ %>
                            <form action="/applications/parse/<%= umsoknir.id %>" method="post">
                                <input type="hidden" name="id" value="<%= umsoknir.id %>">
                                <button>Vinna umsókn</button>
                            </form>
                          <% } else{ %>  
                            &#x2714; Umsókn unnin: <%= umsoknir.updated %>
                         <% } %>
                </div>
                <div>
                    <form action="/applications/delete/<%= umsoknir.id %>" method="post">
                    <input type="hidden" name="id" value="<%= umsoknir.id %>">
                        <button>
                            Eyða umsókn
                        </button>
                    </form>
                </div>
            </div>
        </div>

    <% }) %>

<%- include footer %>